---
layout: default
---

<div id="player">

  <div class="controls">
    
    {% include icon-backward.html %}

    {% include icon-play.html %}

    {% include icon-forward.html %}

  </div>


  <div class="main">

    <hgroup>
      <h1>Show Title</h1> <span>-</span> <h1>Channel Title</h1>
    </hgroup>
    
    <div class="progress-bar">
      <div class="timer start-time">00:10</div>
      <div class="timer end-time">00:45</div>
    </div>

  </div>


  <div class="show-more">
    
    <div class="more">&#9650;</div>

    <div class="less">&#9660;</div>

    
    
  </div>


  <nav>

    <div class="icon" id="playlist">

      {% include icon-playlist.html %}

      <h3>Playlist</h3>
      <div class="nav-more" id="playlist-content">
        {% include playlist.html %}
      </div>

    </div><div class="icon">
      
      {% include icon-volume.html %}
      <h3>Volume</h3>
      <div class="nav-more" id="volume-content">
        {% include volume.html %}
      </div>

    </div><div class="icon">
      
      {% include icon-settings.html %}
      <h3>Settings</h3>
      <div class="nav-more" id="settings-content">
        {% include settings.html %}
      </div>

    </div><div class="icon">
      
      {% include icon-share.html %}
      <h3>Share</h3>
      <div class="nav-more" id="share-content">
        {% include share.html %}
      </div>
    </div>

  </nav>

</div>