<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="16px" height="12px" id="icon-forward" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>Forward</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="icon-forward" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="256" sketch:type="MSArtboardGroup" transform="translate(-156.000000, -115.000000)" fill="#D8D8D8">
            <g id="Forward" sketch:type="MSLayerGroup" transform="translate(156.000000, 115.000000)">
                <path d="M0,11.3388217 L0,0 L9.30480072,5.66941084 L0,11.3388217 Z" id="Triangle-1-Copy" sketch:type="MSShapeGroup"></path>
                <path d="M6.04370471,11.3388217 L6.04370471,0 L15.3485054,5.66941084 L6.04370471,11.3388217 Z" id="Triangle-1-Copy-2" sketch:type="MSShapeGroup"></path>
            </g>
        </g>
    </g>
</svg>