<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="17px" height="13px" id="icon-backward" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>Backward</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Icons-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="256" sketch:type="MSArtboardGroup" transform="translate(-92.000000, -111.000000)" fill="#D8D8D8">
            <g id="Backward" sketch:type="MSLayerGroup" transform="translate(100.500000, 117.652174) rotate(-180.000000) translate(-100.500000, -117.652174) translate(92.000000, 111.000000)">
                <path d="M-1.0658141e-14,12.6120271 L-1.0658141e-14,0.739130435 L9.88635077,6.67557875 L-1.0658141e-14,12.6120271 Z" id="Triangle-1-Copy" sketch:type="MSShapeGroup"></path>
                <path d="M6.42143625,12.6120271 L6.42143625,0.739130435 L16.307787,6.67557875 L6.42143625,12.6120271 Z" id="Triangle-1-Copy-2" sketch:type="MSShapeGroup"></path>
            </g>
        </g>
    </g>
</svg>